:root {
    --background: #E9E9ED; /* Fundo claro */
    --message: #D2D2DA;  /* Mensagem clara */
    --input: red !important;    /* Barra de entrada */
    --text: #000;        /* Texto escuro */
}

.dark {
    --background: #494949; /* Fundo escuro */
    --message: #636363;    /* Mensagem escura */
    --text: #fff;          /* Texto claro */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0 !important;
    min-height: 100vh;
    color: var(--text); /* Cor do texto dinâmica */
}

.chat-message .message-box {
    background-color: var(--message);
    color: var(--text); /* Texto se adapta ao tema */
}

.input-bar-container {
    background-color: var(--input);
    color: var(--text);
}

.input-bar-container textarea {
    background-color: transparent;
    color: var(--text);
}

/* Botões e ícones ajustados para o tema */
.icon {
    color: var(--text);
}

.botaoIcone2:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Mantém um contraste adequado */
}


.history-panel .dark{
    background-color: red !important;
}