
:root {
    --background: #f30f0f23;
    --message: #E9E9ED;
    --text: #000;
}

.dark {
    --background: #494949;
    --message: #636363;
    --input: #F56A00;
    --text: #fff;
}

.home-container {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px; /* Mantém padding uniforme nas laterais */
    padding-top: 40px; /* Adiciona espaço acima para empurrar o conteúdo para baixo */
    min-height: 150vh;
    
}

.history-icon {
    position: fixed;
    top: 35px; /* Ajuste este valor para alinhar com a lua */
    left: 20px;
    font-size: 30p  x;
    color: #F96302;
    cursor: pointer;
    margin-left: 30px; /* Margem à esquerda */
}


.bottom-bar {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    
}




.botaoSair {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.history-item {
    color: var(--text);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    max-width: 90%;
    transition: background-color 0.3s, box-shadow 0.3s; 
    
}


/* Botão de adicionar */
.icon-button {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    padding: 0;
  }
  
  .small-icon {
    color: rgb(255, 102, 0); /* Laranja */
    font-size: 1rem;
  }
  
  .history-item .delete-icon {
    display: none; /* Oculto por padrão */
    color: #606060;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .history-item:hover .delete-icon {
    display: inline; /* Aparece ao passar o mouse */
  }
  