.message-input-custom {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 6px; /* Cantos ligeiramente arredondados */
    padding: 3px 6px; /* Espaçamento mínimo interno */
    font-size: 14px; /* Reduz o tamanho da fonte */
    color: #fff;
    background-color: transparent; /* Fundo transparente */
    min-height: 25px; /* Altura mínima fina */
    max-height: 40px; /* Limite máximo de altura */
    resize: none; /* Impede o redimensionamento manual */
    overflow-y: auto; /* Rolagem para conteúdos maiores */
    font-family: 'Poppins', sans-serif; /* Fonte personalizada */
    line-height: 1.2; /* Ajuste para reduzir o espaçamento entre linhas */
}




.message-container-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8b33;
    border-radius: 10px;
    padding: 15px 20px; /* Ajusta o padding do container */
    width: 95%; /* Aumenta a largura do container */
    max-width: 700px; /* Aumenta o limite máximo */
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* Centralização horizontal e alinhamento inferior */
    position: fixed;
    bottom: 5%; /* Ajuste a altura do fundo conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}


.message-input-custom::placeholder {
    color: #ffffff;
    opacity: 0.8;
    font-size: 18px; /* Tamanho do texto do placeholder */
    font-family: 'Poppins', sans-serif; /* Fonte do placeholder */
}


.icon-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mic-icon {
    font-size: 20px;
    margin-right: 10px;
}

.upload-icon {
    font-size: 25px;
    margin-right: 5px;
}

.send-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-icon {
    font-size: 22px;
}

.mic-icon.listening {
    color: red;
}
